section {
    width:30%;
    margin:auto;

    text-align: center;
    legend {
        text-align: left;
    }

    p {
        text-align: left;
        width:50%;
        margin: 0 auto;
        margin:8px auto; 
    }
   
    input {
        border-radius: 25px;
        padding:8px;
        outline:none;

        &:focus {
           border:3px solid orange;
        }
    }

}