<section>
    <form (ngSubmit)="onSubmitSignInForm()">
        <fieldset>
            <legend> <h1> Inscription : </h1> </legend>

            <label>
                <p>Nom d'utilisateur :</p>
                <input type="text" name="userName" placeholder="jean" required [(ngModel)]="userName" />
            </label>
            
            <br/>
            <br/>

            <label>
                <p>Email :</p>
                <input type="email" name="email" placeholder="jean@email.fr" required  [(ngModel)]="userEmail"/>
            </label>
            
            <br/>
            <br/>

            <label>
                <p>Adresse de livraison :</p>
                <input type="text" name="delivaryAdress" placeholder="Paris, 01 rue du héron" required    [(ngModel)]="userDeliveryAdress"/>
            </label>
            
            <br/>
            <br/>

            <label>
                <p>Mot de passe :</p>
                <input type="password" name="password" required [(ngModel)]="userPassword"/>
            </label>
            
            <br/>
            <br/>

            <label>
                <input type="checkbox" required/>
                j'accepte les conditions d'utilisation
            </label>
            
            <br/>
            <br/>
            
            <button type="submit"> <h3> Inscription </h3> </button>
        </fieldset>
    </form>
</section>